@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  
  background-color: #c0d8d8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}

img { width: 100%; }

pre {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
}

p { padding: 10px 0; }

code { font-weight: bold; }
span.token.operator { color: #9a6e3a; }
span.token.function { color: #dd4a68; }
span.token.keyword { color: #07a; }
span.token.comment { color: #708090; }

.app {
  margin: 0 auto;
  max-width: 630px;
}

.section {
  border: 1px solid black;
  background-color: #c0d8d8;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
}

.section-editor {
  margin: 10px 75px 0 75px;
}

.section-preview {
  margin-top: 25px;
}

.section__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 10px 25px;
  
  background-color: #4aa3a3;
  border-bottom: 1px solid black;
  
  font-family: "Russo One";
}

#editor {
  width: 100%;
  min-height: 200px;
  padding: 25px;
  
  border: none;
  background-color: transparent;
  outline: none;
}

#preview { padding: 25px; }

.maximized { min-height: 100vh !important; }
.hide { display: none !important; }

.expandButton { cursor: pointer; }

.expandButton:hover { color: #57e2b1; }